.banner{
  width: 100%;
  height: 150px;
  background-image: url('../assets/newdishbanner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner:hover{
  transform: scale(1.02);
  transition: 0.3s;
  filter: brightness(115%);
}
.background{
  height: 100vh;
  width: 100%;
  background-image: url('../assets/pinktulipbackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}
.textimagecontent{
  display: flex;
  align-items: flex-start; 
  margin-left: 25px;
  margin-top: 30px;
}
.imagesformat{
  display: flex; 
  flex-direction: column; 
  margin-right: 25px;
}
.dishimageformat{
  width: 350px; 
  height: 350px; 
  background-image: url('../assets/dishimage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block; 
  margin-right: 25px;
  z-index: 1;
  float: left;
}
.dishimageformat:hover{
  transform: scale(1.10);
  transition: 0.3s;
  filter: brightness(115%);
}
.dishimage1format{
  width: 375px; 
  height: 375px; 
  background-image: url('../assets/dishprofileimage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block; 
  margin-left: 0px;
  z-index: 1;
  float: left;
}
.dishimage1format:hover{
  transform: scale(1.10);
  transition: 0.3s;
  filter: brightness(115%);
}
.textsformat{
  display: flex; 
  flex-direction: column;
}
.Dishtext{
  font-size: 75px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  color: antiquewhite; 
  margin: 0%; 
}
.Subtitletext{
  font-size: 25px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  color: antiquewhite; 
  margin: 0%;
}
.descriptiontext{
  font-size: 25px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  color: antiquewhite; 
  margin: 2%; 
  max-width: 1000px;
}
.ytlink{
  color:#f7cad0;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  margin-left: 19px;
}
.ytlink:visited{
  color: #d98ca4;
}
.ytlink:hover{
  color: white;
  background-color: #f7cad0;
  padding: 5px 10px;
  border-radius: 5px;
}
.alltableformat{
  display: block; 
  flex-direction: row;
}
.tableformat{
  float: left;
  border-collapse: collapse; 
  width: 425px; 
  box-shadow: 0 0 10px rgba(0,0,0,0.2); 
  border-radius: 10px; 
  overflow: hidden; 
  text-align:center;
}
.colspanformat{
  background-color: #f4b6c2; 
  color: white;
}
.alsocolspanformat{
  padding: 15px; 
  font-size: 20px;
}
.rowspanformatithink{
  background-color: #f7cad0; 
  color: white;
}
.padding12px{
  padding: 8px;
}
.whitecolor{
  background-color: #FFF5EE;
}
.peachcolor{
  background-color: #FFE6EA;
}
.padding10px{
  padding: 8px;
}
.linkformat{
  color:#e75480; 
  text-decoration:none;
  transition: 0.3s;
}
.linkformat:visited{
  color: #b56576;
}
.linkformat:hover{
  color: white;
  background-color: #e75480;
  padding: 3px 8px;
  border-radius: 5px;
  text-decoration: underline;
}
.footer{
  background-color: #F2D2BD; 
  color: white; 
  text-align: center; 
  padding: 3px;
}
.button {
    background-color: #f7cad0;
    color: white;
    padding: 4px 10px;      
    font-size: 15px;         
    border: none;
    border-radius: 8px;      
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;   
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.button:visited{
  background-color: #d98ca4;
}
.button:hover {
    background-color: #ecbcc3;
    transform: scale(1.20);
}
